.accordion-card {
    border: 1px solid #F7F7FE;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px; /* Increased padding for better touch area */
    cursor: pointer;
    background-color: #F7F7FE;
    min-height: 24px; /* Fixed header height */
    transition: background-color 0.3s ease, min-height 0.3s ease; /* Added transition for min-height */
}

.accordion-content {
    padding: 16px 20px; /* Increased padding */
    background-color: #F7F7FE;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Transition for max-height */
}

.accordion-content p {
    margin: 0;
}

.accordion-content.expanded {
    max-height: 300px; /* Adjust as needed based on your content size */
}

.accordion-icon {
    font-size: 20px;
}

.accordion-icon.expanded {
    font-size: 20px;
}

.accordion-content.collapsed {
    max-height: 20px;
}
